<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="assets/bootstrap_5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <style>
        a.db-icon {
            width: 2.5rem;
            height: 2.5rem;
            display: block;
            background: url("./assets/images/menu/db-icon-frame.png") no-repeat 100% 100%;
            background-size: 100%;
            transition: .3s;
        }

        a.db-icon:hover {
            transition: .3s;
            background: url("./assets/images/menu/db-icon-fill.png") no-repeat 100% 100%;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div class="general-menu-frame d-flex flex-row text-center">
        <div class="frame-logo"></div>
        <div class="frame-top-line">
            <div class="row h-100 d-flex align-content-center">
                <div style="margin-left: 2rem" class="col-lg-4 text-start">
                    <h4>Dashboard</h4>
                </div>
            </div>
        </div>
        <div class="frame-side-line">
            <p class="icon d-flex justify-content-center">
                <a href="#" class="db-icon"></a>
            </p>
        </div>
    </div>

    <div class="main">
        <div class="dashboard"></div>
    </div>
    <!--    <div class="main"></div>-->
<!--    <div class="main"></div>-->
<script src="assets/bootstrap_5.3.2/js/bootstrap.bundle.min.js" charset="utf-8"></script>
</body>
</html>
