<a style="width: 18vh" class="navbar-brand d-flex flex-row" href="{% url 'dashboard:search' %}">
    <h4 style="margin-top: .1rem" class="d-flex flex-row">
        <span style="width: 3.5rem; font-size: 2rem" class="background-gradient-secondary rounded-2 text-light text-center p-2 text-bold">45</span>
        <span style="margin-top: .3rem; margin-left: .2rem; font-size: 1.35rem" class="d-flex flex-column">
           <span>The Mail</span>
           <span>Service</span>

       </span>
    </h4>
</a>