<a style="width: 25vh" class="navbar-brand d-flex flex-row" href="{% url 'simple_user:user_search' %}">
    <div style="width: .3rem; height: 3.5rem"
         class="d-flex justify-content-center align-content-center bg-warning text-dark">
    </div>
    <h4 style="margin-top: .1rem" class="d-flex flex-row">
        <span style="font-size: 2rem" class="bg-warning text-light p-1">45</span>
        <span style="margin-left: .2rem; font-size: 1.2rem" class="d-flex flex-column">
           <span>Postman</span>
           <span>Mail</span>
       </span>
    </h4>
</a>