<div class="col-sm-12 d-flex flex-row justify-content-center">
    <a href="{% url 'dashboard:dashboard' %}" class="p-3 btn button-gradient-secondary text-light border-0 right-angle rounded-start">Зведені
        дані</a>
    <a href="{% url 'dashboard:mail_archive' %}" class="p-3 btn button-gradient-primary text-light border-0 right-angle">Архів листів</a>
    <a href="{% url 'dashboard:add_mail' %}" class="p-3 btn button-gradient-success text-light border-0 right-angle rounded-end">Додати лист</a>
</div>