{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dashboard/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/buttons.css' %}">
</head>
<body style="background: #F7F8FA" class="h-100">
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-4">
        <div class="container-fluid">
            {% include 'dashboard/inc/_logo.html' %}
        </div>
        <div class="col-lg-6 p-2 d-flex flex-row justify-content-end mx-auto">
            <a href="{% url 'dashboard:mail_archive' %}"
               class="btn btn-outline-secondary right-angle d-flex align-items-center p-3">Архів
                записів</a>
            <a href="{% url 'dashboard:dashboard' %}" style="margin-left: 1rem"
               class="text-secondary underline-none d-flex align-items-center">Панель керування</a>
        </div>
    </nav>
    {% block content %}{% endblock %}

    <script src="{% static 'dashboard/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>