{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dashboard/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/buttons.css' %}">
</head>
<body style="background: #F7F8FA" class="h-100">
    <div class="row justify-content-center">
        <div class="col-lg-2 p-5">
            <a class="navbar-brand d-flex flex-row" href="{% url 'dashboard:dashboard' %}">

                <div style="width: .3rem; height: 3rem"
                     class="d-flex justify-content-center align-content-center bg-warning text-dark">
                </div>
                <h4><span class="bg-warning text-light p-1">Postman</span> Services</h4>
                <div class="">
                </div>
            </a>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-4 p-5 d-flex flex-row justify-content-end">
            <a href="{% url 'dashboard:letters_archive' %}" class="btn button-light right-angle d-flex  align-items-center">Архів записів</a>
            <a href="{% url 'dashboard:dashboard' %}" style="margin-left: 1rem" class="btn button-light right-angle d-flex align-items-center">Панель керування</a>
        </div>
    </div>
    {% block content %}{% endblock %}

    <script src="{% static 'dashboard/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>