{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dashboard/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/buttons.css' %}">
</head>
<body style="background: #F7F8FA" class="h-100">
<nav class="navbar navbar-expand-lg bg-body-tertiary p-4">
    <div class="container-fluid">
        <a class="navbar-brand d-flex flex-row" href="{% url 'dashboard:dashboard' %}">
            <div style="width: .3rem; height: 3.5rem"
                 class="d-flex justify-content-center align-content-center bg-warning text-dark">
            </div>
            <h4>
                <div style="margin-top: .15rem" class="bg-warning text-light p-1">
                    <span class="d-flex flex-column">
                        <span style="font-size: .9rem">Postman</span>
                        <span style="font-size: .9rem">Services</span>
                    </span>
                </div>
            </h4>
            <span style="margin-top: -.15rem; margin-left: .2rem; font-size: 2.2rem">45</span>
        </a>
    </div>
    <div class="col-lg-6 p-2 d-flex flex-row justify-content-end mx-auto">
        <a href="{% url 'dashboard:letters_archive' %}"
           class="text-secondary underline-none d-flex  align-items-center">Архів
            записів</a>
        <a href="{% url 'dashboard:dashboard' %}" style="margin-left: 1rem"
           class="text-secondary underline-none d-flex align-items-center">Панель керування</a>
    </div>
</nav>
{% block content %}{% endblock %}

<script src="{% static 'dashboard/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>