{% extends 'dashboard/_base.html' %}
{% load static %}

{% block content %}
    <div class="row mb-5">
        <div class="col-lg-5">
            <div class="container">
                <div class="row justify-content-center mt-2">
                    <div class="col-lg-12 bg-white p-4">
                        {% include 'accounts/inc/_message.html' %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form.track_number }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form.date_of_receipt }}
                                </div>
{#                                <div class="col-lg-6">#}
{#                                    {{ form.the_expired_date }}#}
{#                                </div>#}
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-7">
                                    {{ form.address }}
                                </div>
                                <div class="col-lg-5">
                                    <a href="{% url 'dashboard:new_recipient' %}"
                                       class="btn button-light right-angle" target="_blank">Новий отримувач</a>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-4">
                                <div class="col-lg-10">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th scope="row" class="border border-0">{{ form.is_court.label }}:
                                            </th>
                                            <td class="border border-0">{{ form.is_court }}</td>
                                            <th scope="row" class="border border-0">{{ form.is_court_subpoena.label }}:
                                            </th>
                                            <td class="border border-0">{{ form.is_court_subpoena }}</td>
                                            <th scope="row" class="border border-0">{{ form.is_police_fine.label }}:
                                            </th>
                                            <td class="border border-0">{{ form.is_police_fine }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-12">
                                    {{ form.letter_image_id }}
                                </div>
                            </div>
                            <div class="row justify-content-end mt-4">
                                <div class="col-lg-6 d-grid">
                                    <button type="submit" class="btn btn-success btn-block button-blue right-angle">Додати
                                        лист
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-7 col-lg-7">
            <div class="container">
                <div class="row justify-content-center mt-2">
                    <div class="col-lg-12 bg-white">
                        {% for item in letters %}
                            <div class="row mt-4">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-7 d-flex flex-row">
                                            <div class="col-lg-6">
                                                <a href="https://track.ukrposhta.ua/tracking_UA.html?barcode={{ mail.track_number }}"
                                                   class="w-100 p-3 btn button-light right-angle position-relative"
                                                   title="Відстежити"
                                                   target="_blank">
                                                    {{ item.track_number }}
                                                    {% if item.expired_time and item.expired_time > 4 %}
                                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill
                                     text-dark d-flex align-items-center justify-content-center bg-light-subtle border"
                                                              title="Залишок днів збереження">
                                                            <strong style="font-size: 1.2rem">{{ item.expired_time }}</strong>
                                                        </span>
                                                    {% elif 1 <= item.expired_time and item.expired_time <= 4 %}
                                                        <span class="d-flex align-items-center justify-content-center position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-black">
                                                            <strong style="font-size: 1.2rem">{{ item.expired_time }}</strong>
                                                        </span>
                                                    {% elif item.expired_time == 0 %}
                                                        <span class="d-flex align-items-center justify-content-center position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info text-black">
                                                            <strong style="font-size: 1.2rem">{{ item.expired_time }}</strong>
                                                        </span>
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="col-lg-6">
                                                {% if 0 < item.expired_time and item.expired_time <= 4 %}
                                                    <div class="p-1 bg-warning text-center">
                                                        <strong>Закінчується термін збереження листа</strong>
                                                    </div>
                                                {% elif item.expired_time == 0 %}
                                                    <div class="p-1 bg-info text-center">
                                                        <strong>Сьогодні останній день збереження листа</strong>
                                                    </div>
                                                {% elif item.expired_time < 0 %}
                                                    <div class="p-3 bg-body-tertiary text-center">
                                                        <strong>Час збереження листа вичерпано</strong>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="d-flex justify-content-between">
                                                {% if item.is_court %}
                                                    <div class="p-3 w-100 text-center bg-body-secondary" role="alert">
                                                        <strong>Суд</strong>
                                                    </div>
                                                {% endif %}

                                                {% if item.is_court_subpoena %}
                                                    <div class="col-lg-6">
                                                        <div class="p-3 text-center bg-body-tertiary"
                                                             role="alert">
                                                            <strong>Суд</strong>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="p-3 bg-warning w-100 text-center" role="alert">
                                                            <strong>Повістка</strong>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if item.is_police_fine %}
                                                    <div class="p-3 w-100 text-center bg-info-subtle" role="alert">
                                                        <strong>Поліцейський штраф</strong>
                                                    </div>
                                                {% endif %}

                                                {% if not item.is_court and not item.is_court_subpoena and not item.is_police_fine %}
                                                    <div class="p-3 w-100 text-center bg-light-gray" role="alert">
                                                        <i>Лист немає відміток</i>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-xxl-8">
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                <tr>
                                                    <th scope="row" class="p-3">
                                                        <span>Дата надходження:&nbsp;</span>
                                                    </th>
                                                    <td class="p-3">
                                                        {{ item.date_of_receipt|date:'d.m.Y' }}
                                                    </td>
{#                                                    <td class="p-3">#}
{#                                                        {{ item.the_expired_date|date:'d.m.Y' }}#}
{#                                                    </td>#}
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="p-3">
                                                        <span>Збереження до:&nbsp;</span>
                                                    </th>
                                                    <td class="p-3">
                                                        {{ item.expired_date| date:'d.m.Y' }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="p-3">
                                                        <span>Залишок днів збереження:&nbsp;</span>
                                                    </th>
                                                    <td class="p-3">
                                                        {% if item.expired_time == 0 or item.expired_time < 0 %}
                                                            0
                                                        {% else %}
                                                            {{ item.expired_time }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="p-3">
                                                        <span>Адреса отримувача:&nbsp;</span>
                                                    </th>
                                                    <td class="p-3">
                                                        <a href="{% url 'dashboard:recipient_data' item.address.pk %}"
                                                           class="text-secondary">
                                                            {{ item.address.get_street_display }} {{ item.address.build }}
                                                            {% if item.address.build_letter %}
                                                                {{ item.address.build_letter }}
                                                            {% endif %}
                                                            {% if item.address.apartment %}
                                                                /
                                                                {{ item.address.apartment }}
                                                            {% endif %}
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xxl-4 col-lg-4">
                                            {% if item.letter_image_id %}
                                               <a href="https://drive.google.com/file/d/{{ item.letter_image_id }}/view?usp=drive_link"
                                                   target="_blank">
                                                    <img src="https://drive.google.com/thumbnail?id={{ item.letter_image_id }}"
                                                         class="img-thumbnail right-angle" alt="{{ item.track_number }}_image"
                                                         width="100%">
                                                </a>
                                            {% else %}
                                                <img src="{% static 'dashboard/images/no_image.png' %}"
                                                     class="img-thumbnail right-angle" alt="{{ item.track_number }}_image"
                                                     width="100%">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}