{% extends 'dashboard/_base.html' %}
{% load static %}

{% block content %}
    <div class="row p-3">
        <div class="col-lg-2">
            <p class="text-center">
                <strong>Фото</strong>
            </p>
        </div>
        <div class="col-lg-4">
            <p class="text-center">
                <strong>Номер відстеження</strong>
            </p>
        </div>
        <div class="col-lg-2">
            <p class="text-center">
                <strong>Відмітки</strong>
            </p>
        </div>
        <div class="col-lg-2">
            <p class="text-center">
                <strong>Адреса отримувача</strong>
            </p>
        </div>
        <div class="col-lg-2">
            <p class="text-center">
                <strong>Дати</strong>
            </p>
        </div>
    </div>
<!--    <hr class="mb-5">-->

    {% for item in mails_numbers %}
        <div class="row mt-3">
            <div class="col-lg-2 text-center">
                {% if item.letter_image_id %}
                    <a href="https://drive.google.com/file/d/{{ item.letter_image_id }}/view?usp=drive_link"
                       target="_blank">
                        <img src="https://drive.google.com/thumbnail?id={{ item.letter_image_id }}"
                             class="img-m rounded-5" alt="{{ item.track_number }}_image" width="60%">
                    </a>
                {% else %}
                    <img src="{% static 'dashboard/images/no_image.png' %}"
                         class="img-thumbnail right-angle" alt="{{ item.track_number }}_image" width="100%">
                {% endif %}
            </div>
            <div class="col-lg-4 d-flex flex-row align-items-center">
                <div class="col-lg-6">
                    <a href="https://track.ukrposhta.ua/tracking_UA.html?barcode={{ item.track_number }}"
                   class="w-100 p-3 btn button-light right-angle position-relative"
                   title="Відстежити"
                   target="_blank">
                    {{ item.track_number }}
                    {% if item.expired_time and item.expired_time > 4 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill
                                 text-dark d-flex align-items-center justify-content-center bg-light-subtle border"
                              title="Залишок днів збереження">
                                <strong style="font-size: 1.2rem">{{ item.expired_time }}</strong>
                        </span>
                    {% elif 1 <= item.expired_time and item.expired_time <= 4 %}
                        <span class="d-flex align-items-center justify-content-center position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-black">
                            <strong style="font-size: 1.2rem">{{ item.expired_time }}</strong>
                        </span>
                    {% elif item.expired_time == 0 %}
                        <span class="d-flex align-items-center justify-content-center position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info text-black">
                            <strong style="font-size: 1.2rem">{{ item.expired_time }}</strong>
                        </span>
                    {% endif %}
                </a>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    {% if 0 < item.expired_time and item.expired_time <= 4 %}
                    <div class="p-1 bg-warning text-center">
                        <strong>Закінчується термін збереження листа</strong>
                    </div>
                {% elif item.expired_time == 0 %}
                    <div class="p-1 bg-info text-center">
                        <strong>Сьогодні останній день збереження листа</strong>
                    </div>
                {% elif item.expired_time < 0 %}
                    <div class="w-100 p-3 bg-secondary text-light text-center">
                        <strong>Час збереження вичерпано</strong>
                    </div>
                {% endif %}
                </div>
            </div>

            <div class="col-lg-2 d-flex align-items-center">
                <div class="w-100 d-flex justify-content-between">
                    {% if item.is_court %}
                        <div class="p-3 w-100 text-center bg-body-secondary" role="alert">
                            <strong>Суд</strong>
                        </div>
                    {% endif %}

                    {% if item.is_court_subpoena %}
                        <div class="col-lg-6">
                            <div class="p-3 text-center bg-body-secondary"
                                 role="alert">
                                <strong>Суд</strong>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-3 bg-warning w-100 text-center" role="alert">
                                <strong>Повістка</strong>
                            </div>
                        </div>
                    {% endif %}

                    {% if item.is_police_fine %}
                        <div class="p-3 w-100 text-center bg-info-subtle" role="alert">
                            <strong>Поліцейський штраф</strong>
                        </div>
                    {% endif %}

                    {% if not item.is_court and not item.is_court_subpoena and not item.is_police_fine %}
                        <div class="p-3 w-100 text-center" role="alert">
                            <strong>—</strong>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-2 text-center d-flex align-items-center">
                <a href="{% url 'dashboard:recipient_data' item.address.pk %}"
                   class="w-100 p-3 btn btn-outline-secondary right-angle">
                    {{ item.address.get_street_display }} {{ item.address.build }}
                    {% if item.address.build_letter %}
                        {{ item.address.get_build_letter_display }}
                    {% endif %}
                    {% if item.address.apartment %}
                        /
                        {{ item.address.apartment }}
                    {% endif %}
                </a>
            </div>


            <div class="col-lg-2 d-flex align-items-center">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between p-1">
                            <span>
                                <strong>Дата надходження:&nbsp;</strong>
                            </span>
                        <span>{{ item.date_of_receipt|date:'d.m.Y' }}</span>
                    </div>
                    <div class="d-flex justify-content-between p-1">
                            <span>
                                <strong>Збереження до:&nbsp;</strong>
                            </span>
                        <span style="text-decoration: dotted;">{{ item.expired_date|date:'d.m.Y' }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
<!--<hr class="mb-5">-->

    <div class="row justify-content-center">
        <div class="col-lg-2 d-flex justify-content-center">                            <!-- pagination-->
            <nav class="mt-1 mx-auto"
                 aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        {% if mails_numbers.has_previous %}
                            <a class="page-link"
                               href="?page={{ mails_numbers.previous_page.number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    {% for page in mails_numbers.paginator.page_range %}
                        {% if page > mails_numbers.number|add:-10 and page < mails_numbers.number|add:10 %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if mails_numbers.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ mails_numbers.paginator.num_pages }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                    </li>
                </ul>
            </nav>
            <!-- /pagination-->
        </div>
    </div>
{% endblock %}