{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dashboard/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/colors.css' %}">
</head>
<body class="h-100">
    {% include 'dashboard/inc/_topnav.html' %}
    <div class="row">
        <div class="col-lg-2">
            {% include 'dashboard/inc/_sidenav.html' %}
        </div>
        <div style="height: 98vh; background: #F7F8FA" class="col-lg-10">
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %}
                        class="alert alert-{{ message.tags }} right-angle"{% endif %} role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="{% static 'dashboard/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>