{% extends 'dashboard/_base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-12">
            {% include 'accounts/inc/_message.html' %}
            <form action="" method="post">
                {% csrf_token %}
                <table class="table">
                    <tbody>
                        <tr>
                            <td colspan="3">{{ form.date_of_receipt }}</td>
                            <td colspan="2">{{ form.address }}</td>
                            <td><a href="{% url 'dashboard:add_recipient' %}"
                                   class="btn btn-light rounded-2" target="_blank">Новий отримувач</a></td>
                        </tr>
                        <tr>
                            <td colspan="5">{{ form.track_number }}</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                {{ form.is_court.label }}: {{ form.is_court }}
                            </td>
                            <td class="text-center">{{ form.is_court_subpoena.label }}: {{ form.is_court_subpoena }}</td>
                            <td class="text-center">{{ form.is_police_fine.label }}: {{ form.is_police_fine }}</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                {{ form.letter_image_id }}
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success w-75
                                 rounded-2">Додати
                                    лист
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col-lg-10 col-sm-12">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Номер
                                відстеження
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Статус
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Відмітки</th>
                            <!--                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Відмітки</th>-->
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Адреса
                                отримувача
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Дати</th
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in letters %}
                            {% include 'dashboard/inc/_mail_item_string.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}