{% extends 'dashboard/_base.html' %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Номер відстеження</th>
        <th scope="col">Відмітки</th>
        <th scope="col">Отримувач</th>
        <th scope="col">Дата надходження/Збереження до</th>
        <th scope="col">Фото</th>
    </tr>
    </thead>
    <tbody>
    {% for item in letters %}
        <tr>
            <td>
                <a href="https://track.ukrposhta.ua/tracking_UA.html?barcode={{item.track_number}}"
                   class="btn button-light right-angle"
                   title="Відстежити"
                   target="_blank">
                    {{ item.track_number }}
                </a>
            </td>
            <td class="d-flex flex-row">
                {% if not item.is_court %}
                    <div class="alert alert-secondary right-angle" role="alert">
                      <strong>Суд</strong>
                    </div>
                {% else %}
                    <div class="alert alert-dark right-angle" role="alert">
                      <strong>Суд</strong>
                    </div>
                {% endif %}


                {% if not item.is_court_subpoena %}
                    <div class="alert alert-secondary right-angle" role="alert">
                      <strong>Повістка</strong>
                    </div>
                {% else %}
                    <div class="alert alert-warning right-angle" role="alert">
                      <strong>Повістка</strong>
                    </div>
                {% endif %}

                {% if not item.is_police_subpoena %}
                    <div class="alert alert-secondary right-angle" role="alert">
                      <strong>Штраф</strong>
                    </div>
                {% else %}
                    <div class="alert alert-primary right-angle" role="alert">
                      <strong>Штраф</strong>
                    </div>
                {% endif %}
            </td>
            <td>
                {{ item.address.get_street_display }} {{ item.address.build }}
                {% if item.address.build_letter %}
                    {{ item.address.build_letter }}
                {% endif %}
                {% if item.address.apartment %}
                    /
                    {{ item.address.apartment }}
                {% endif %}
            </td>
            <td>
                <p>{{ item.date_of_receipt|date:'d.m.Y' }} / {{ item.expired_date| date:'d.m.Y' }}</p>
                {% if item.expired_time <= 3 and item.expired_time > 0 %}
                  <div class="alert alert-warning" role="alert">
                    Закінчується термін збереження листа. Залишок днів:
                      <strong>{{ item.expired_time }}</strong>
                  </div>
                {% elif item.expired_time == 0 %}
                    <h5><span class="badge bg-secondary right-angle">
                        Сьогодні лист повертається
                    </span></h5>
                {% elif item.expired_time < 0 %}
                    <h5><span class="text-warning">
                        Лист повернуто
                    </span></h5>
                {% endif %}
            </td>
            <td>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq3KKxatmkx5h29Eilsm2Myj78RjMqgMOvv71gY7N6z1YrS-2C2N9IHGS2V5HXgejTXUk&usqp=CAU" class="img-thumbnail right-angle" alt="..." width="100">
<!--                <a href="{{ item.letter_image }}" class="btn button-light right-angle" target="_blank">{{ item.track_number }}</a>-->
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!--Pagination-->
<nav aria-label="...">
    <ul class="pagination pagination-sm">
        <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</nav>
{% endblock %}