{% extends 'dashboard/_base.html' %}
{% load static %}

{% block content %}
    <div class="row p-3">
        <div class="col-lg-1">
            <p class="text-center">
                <strong>Фото</strong>
            </p>
        </div>
        <div class="col-lg-4">
            <p class="text-center">
                <strong>Номер відстеження</strong>
            </p>
        </div>
        <div class="col-lg-2">
            <p class="text-center">
                <strong>Відмітки</strong>
            </p>
        </div>
        <div class="col-lg-2">
            <p class="text-center">
                <strong>Адреса отримувача</strong>
            </p>
        </div>
        <div class="col-lg-3">
            <p class="text-center">
                <strong>Дати</strong>
            </p>
        </div>
    </div>
    <hr class="mb-5">

    {% for item in mails_numbers %}
        {% for mail in item.address_mails.all %}
            <div class="row mt-3">
                <div class="col-lg-1 text-center">
                    {% if mail.letter_image_id %}
                        <a href="https://drive.google.com/file/d/{{ mail.letter_image_id }}/view?usp=drive_link"
                           target="_blank">
                            <img src="https://drive.google.com/thumbnail?id={{ mail.letter_image_id }}"
                                 class="img-m rounded-5" alt="{{ mail.track_number }}_image" width="60%">
                        </a>
                    {% else %}
                        <img src="{% static 'dashboard/images/no_image.png' %}"
                             class="img-thumbnail right-angle" alt="{{ mail.track_number }}_image" width="100%">
                    {% endif %}
                </div>
                <div class="col-lg-4 d-flex flex-row">
                    <div class="col-lg-6">
                        <a href="https://track.ukrposhta.ua/tracking_UA.html?barcode={{ mail.track_number }}"
                       class="w-100 p-3 btn button-light right-angle position-relative"
                       title="Відстежити"
                       target="_blank">
                        {{ mail.track_number }}
                        {% if mail.expired_time and mail.expired_time > 4 %}
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill
                                     text-dark d-flex align-items-center justify-content-center bg-light-subtle border"
                                  title="Залишок днів збереження">
                                    <strong style="font-size: 1.2rem">{{ mail.expired_time }}</strong>
                            </span>
                        {% elif 1 <= mail.expired_time and mail.expired_time <= 4 %}
                            <span class="d-flex align-items-center justify-content-center position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-black">
                                <strong style="font-size: 1.2rem">{{ mail.expired_time }}</strong>
                            </span>
                        {% elif mail.expired_time == 0 %}
                            <span class="d-flex align-items-center justify-content-center position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info text-black">
                                <strong style="font-size: 1.2rem">{{ mail.expired_time }}</strong>
                            </span>
                        {% endif %}
                    </a>
                    </div>
                    <div class="col-lg-6">
                        {% if 0 < mail.expired_time and mail.expired_time <= 4 %}
                        <div class="p-1 bg-warning text-center">
                            <strong>Закінчується термін збереження листа</strong>
                        </div>
                    {% elif mail.expired_time == 0 %}
                        <div class="p-2 bg-info text-center">
                            <strong>Останній день збереження листа</strong>
                        </div>
                    {% elif mail.expired_time < 0 %}
                        <div class="p-3 bg-secondary text-light text-center">
                            <strong>Лист повернуто</strong>
                        </div>
                    {% endif %}
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="d-flex justify-content-between">
                        {% if mail.is_court %}
                            <div class="p-3 w-100 text-center bg-body-secondary" role="alert">
                                <strong>Суд</strong>
                            </div>
                        {% endif %}

                        {% if mail.is_court_subpoena %}
                            <div class="col-lg-6">
                                <div class="p-3 text-center bg-body-secondary"
                                     role="alert">
                                    <strong>Суд</strong>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-3 bg-warning w-100 text-center" role="alert">
                                    <strong>Повістка</strong>
                                </div>
                            </div>
                        {% endif %}

                        {% if mail.is_police_fine %}
                            <div class="p-3 w-100 text-center bg-info-subtle" role="alert">
                                <strong>Поліцейський штраф</strong>
                            </div>
                        {% endif %}

                        {% if not mail.is_court and not mail.is_court_subpoena and not mail.is_police_fine %}
                            <div class="p-3 w-100 text-center" role="alert">
                                <strong>—</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-2 text-center">
                    <a href="{% url 'dashboard:recipient_data' mail.address.pk %}"
                       class="p-3 btn btn-outline-secondary right-angle">
                        {{ mail.address.get_street_display }} {{ mail.address.build }}
                        {% if mail.address.build_letter %}
                            {{ mail.address.build_letter }}
                        {% endif %}
                        {% if mail.address.apartment %}
                            /
                            {{ mail.address.apartment }}
                        {% endif %}
                    </a>
                </div>

                <div class="col-lg-3">
                    <div class="d-flex justify-content-between p-1">
                                <span>
                                    <strong>Дата надходження:&nbsp;</strong>
                                </span>
                        <span>{{ mail.date_of_receipt|date:'d.m.Y' }}</span>
                    </div>
                    <div class="d-flex justify-content-between p-1">
                                <span>
                                    <strong>Збереження до:&nbsp;</strong>
                                </span>
                        <span style="text-decoration: dotted;">{{ mail.expired_date|date:'d.m.Y' }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!--            <div class="row">-->
        <!--                <div class="accordion" id="accordionPanelsStayOpenExample">-->
        <!--                  <div class="accordion-item">-->
        <!--                    <h2 class="accordion-header">-->
        <!--                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#p{{ item.track_number }}" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">-->
        <!--                        Вся інформація-->
        <!--                      </button>-->
        <!--                    </h2>-->
        <!--                    <div id="p{{ item.track_number }}" class="accordion-collapse collapse">-->
        <!--                      <div class="accordion-body">-->
        <!--                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.-->
        <!--                      </div>-->
        <!--                    </div>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <hr class="mb-5">
    {% endfor %}

    <div class="row justify-content-center">
        <div class="col-lg-2 d-flex justify-content-center">                            <!-- pagination-->
            <nav class="mt-1 mx-auto"
                 aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        {% if mails_numbers.has_previous %}
                            <a class="page-link"
                               href="?page={{ letters_numbers.previous_page.number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    {% for page in mails_numbers.paginator.page_range %}
                        {% if page > mails_numbers.number|add:-10 and page < mails_numbers.number|add:10 %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if mails_numbers.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ letters_numbers.paginator.num_pages }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                    </li>
                </ul>
            </nav>
            <!-- /pagination-->
        </div>
    </div>
{% endblock %}